<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="martlet9">
  <link name="base">
    <visual>
      <geometry>
        <mesh filename="water.obj"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
</robot>
